# Created by .ignore support plugin (hsz.mobi)
### Example sysUserDetails template template
### Example sysUserDetails template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.log
logs
.history

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
*.iml

# Maven (保留用于参考，但可以删除 pom.xml)
# target/ 已经在上面

docker/*/data/
docker/minio/config
docker/xxljob/logs
application-youlai.yml