<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.AssessmentAssignmentMapper">

    <!-- 获取测评任务分配分页列表 -->
    <select id="getAssessmentAssignmentPage" resultType="com.lx.boot.psy.model.vo.AssessmentAssignmentVO">
        SELECT
                id,
                plan_id,
                user_id,
                group_id,
                assign_type,
                progress,
                status,
                assigned_by,
                create_time
        FROM
            psy_assessment_assignment
        <where>
            <if test="queryParams.userId != null">
                AND user_id = #{queryParams.userId}
            </if>
            <if test="queryParams.groupId != null">
                AND group_id = #{queryParams.groupId}
            </if>
            <if test="queryParams.assignType != null">
                AND assign_type = #{queryParams.assignType}
            </if>
            <if test="queryParams.status != null">
                AND status = #{queryParams.status}
            </if>
        </where>
    </select>

</mapper>
