<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.AssessmentPlanMapper">

    <!-- 获取测评计划分页列表 -->
    <select id="getAssessmentPlanPage" resultType="com.lx.boot.psy.model.vo.AssessmentPlanVO">
        SELECT
            p.id,
            p.name,
            p.description,
            p.scale_id,
            s.name,
            p.version_id,
            v.version_name,
            p.target_group,
            p.start_time,
            p.end_time,
            p.creator_id,
            p.status,
            p.create_by,
            p.update_by,
            p.create_time,
            p.update_time
        FROM
            psy_assessment_plan p,
            psy_scale s,
            psy_scale_version v
        <where>
            p.scale_id = s.id
            and p.version_id = v.id
        </where>
    </select>

</mapper>
