<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.OptionMapper">

    <!-- 获取题目选项分页列表 -->
    <select id="getOptionPage" resultType="com.lx.boot.psy.model.vo.OptionVO">
        SELECT
        o.id,
        o.question_id,
        o.option_text,
        o.option_value,
        o.score,
        o.create_by,
        o.create_time,
        o.update_by,
        o.update_time,
        o.is_deleted
        FROM
        psy_option o
        <where>
            o.is_deleted = 0
            <if test="queryParams.questionId != null and queryParams.questionId != ''">
                AND o.question_id = #{queryParams.questionId}
            </if>

        </where>
    </select>
    <select id="getOptions" resultType="com.lx.boot.psy.model.vo.OptionVO">
        select *
        from psy_option
        where question_id = #{questionId}
          and is_deleted = 0
    </select>

</mapper>
