<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.QuestionMapper">

    <!-- 获取题目分页列表 -->
    <select id="getQuestionPage" resultType="com.lx.boot.psy.model.vo.QuestionVO">
        SELECT
                q.id,
                q.scale_id,
                s.name as scale_name,
                q.version_id,
                v.version_name,
                q.dimension_id,
                d.name as dimension_name
                q.question_text,
                q.question_type,
                q.order_no,
                q.create_by,
                q.create_time,
                q.update_by,
                q.update_time,
                q.is_deleted
        FROM
            psy_question q，
            psy_scale s,
            psy_scale_version v,
            psy_dimension d

        <where>
            q.scale_id = s.id
            and q.version_id = v.id
            and q.dimension_id = d.id

        </where>
    </select>

</mapper>
