<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.ReportMapper">

    <!-- 获取测评报告分页列表 -->
    <select id="getReportPage" resultType="com.lx.boot.psy.model.vo.ReportVO">
        SELECT
                id,
                record_id,
                user_id,
                scale_id,
                total_score,
                result_level,
                suggestion,
                create_by,
                update_by,
                create_time,
                update_time
        FROM
            psy_report
        <where>
        </where>
    </select>

</mapper>
