<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.ScaleMapper">

    <!-- 获取量表分页列表 -->
    <select id="getScalePage" resultType="com.lx.boot.psy.model.vo.ScaleVO">
        SELECT
                id,
                name,
                code,
                description,
                applicable_age,
                applicable_gender
        FROM
            psy_scale
        <where>
            <if test="queryParams.name != null and queryParams.name != ''">
                AND name like CONCAT('%', #{queryParams.name}, '%')
            </if>
            <if test="queryParams.code != null and queryParams.code != ''">
                AND code like CONCAT('%', #{queryParams.code}, '%')
            </if>
            <if test="queryParams.applicableGender != null and queryParams.applicableGender != ''">
                AND applicable_gender = #{queryParams.applicableGender}
            </if>
            AND is_deleted = 0
        </where>
    </select>

</mapper>
