<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.ScaleVersionMapper">

    <!-- 获取量版本分页列表 -->
    <select id="getScaleVersionPage" resultType="com.lx.boot.psy.model.vo.ScaleVersionVO">
        SELECT
                id,
                scale_id,
                version_name,
                description,
                is_active,
                create_by,
                create_time,
                update_by,
                update_time,
                is_deleted
        FROM
            psy_scale_version
        <where>
            is_deleted = 0
            <if test="queryParams.scaleId != null and queryParams.scaleId != ''">
                AND scale_id = #{queryParams.scaleId}
            </if>
        </where>
    </select>

</mapper>
