<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.boot.psy.mapper.ScoreLevelMapper">

    <!-- 获取分数区间对应等级描述分页列表 -->
    <select id="getScoreLevelPage" resultType="com.lx.boot.psy.model.vo.ScoreLevelVO">
        SELECT
                id,
                rule_id,
                min_score,
                max_score,
                level_name,
                description,
                create_by,
                create_time,
                update_by,
                update_time,
                is_deleted
        FROM
            psy_score_level
        <where>
        </where>
    </select>

</mapper>
